<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
</head>
<body>
    <h1>Item List</h1>
    {% for item in items %}
        <div class="object-card">
            <div class="object-img"><img src="{{ item.picture.url }}" alt="{{ item.title }}"></div>
            <div class="object-buy"><div class="price">{{ item.price }}</div></div>
            <div class="object-title">{{ item.title }}</div>
            <div class="object-cart"><div class="cart-icon"><img src='assets/cart.svg'></div><div class="cart-text">Aggiungi al carrello</div></div>
        </div>
    {% endfor %}
</body>
</html>
